.post-form-wrapper {
    display: flex;
  
    .post-form-container {
      width: 100%;
      padding: 0 0 0 16px;
  
      > textarea {
        width: 100%;
        resize: vertical;
        overflow: auto;
        font-family: inherit;
        font-size: medium;
        min-height: 48px; /* 2 * $space-large (24px) */
        max-height: 192px; /* 8 * $space-large (24px) */
      }
  
      > .post-limit-warn {
        color: #e7dc0e; /* $color-warn */
      }
  
      .post-form-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 0 8px; /* $space-small */
  
        > span {
          color: #71767b; /* $color-text-secondary */
          padding-right: 8px; /* $space-small */
          border-right: solid 1px #2f3336; /* $divider */
          font-weight: bold;
        }
  
        > button {
          border: none;
          font-weight: bold;
          color: #fff; /* $color-text-main */
          background: #2979FF; /* $color-active */
          font-size: medium;
          border-radius: 8px; /* $space-medium */
          margin-left: 8px; /* $space-small */
          padding: 6px; /* $space-small */
  
          > span {
            margin: 0 8px; /* $space-small */
          }
  
          &:hover {
            cursor: pointer;
            opacity: 0.85;
          }
  
          &:disabled {
            color: #6a7280; /* $color-text-disabled */
            background: #191919; /* $color-disabled */
  
            &:hover {
              cursor: auto;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  