.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 8px; 
    background: #292929;
    border-bottom: 1px solid #2f3336; 
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; 
  }
  
  .poster-title {
    font-size: 24px; 
    font-weight: bold;
    color: #fece32; 
    margin-right: 16px;
  }
  
  .header-buttons-container {
    display: flex;
    align-items: center;
  }
  
  .header-buttons-container a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-right: 16px; 
  }
  
  .header-user-container {
    display: flex;
    align-items: center;
  }
  
  .header-user-container img {
    border-radius: 50%;
    height: 40px; 
    width: 40px;
    margin-right: 8px; 
  }
  
  .header-user-container select {
    appearance: none;
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
